.session-timeout-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 15rem;
    background-color: white;
    border-radius: 3px;

    .title {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
}